.friendContainer{
    position: relative;

}
.friendItem{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.onlineIcon{
    width: 10px;
    height: 10px;
    background-color:  #00FF00;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: 8px;
}
